{
  "extends": "airbnb",
  # "env": {
  #   "browser": true,
  #   "es6": true
  # },
  "parser": "babel-eslint",
  "globals": {
    "Babel": true,
    "window": true,
    "document": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "global-require": "off",
    "import/no-unresolved": "off",
    "no-new": "off",
    "react/prop-types": "off",
    # "react/prefer-stateless-function": "off",
    # "new-cap": "off",
    # "no-param-reassign": "off",
    # "import/extensions": "off",
    # "no-restricted-syntax": "off",
    # "import/no-extraneous-dependencies": "off",
    # "arrow-body-style": "off",
    # "linebreak-style": "off",
    # "no-console": "off",
    "max-len": "off",
    # "import/no-dynamic-require": "off",
    # "no-useless-escape": "warn"
  }
}
