doctype html
html(lang=en)
  head
    title demo
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(name="description" content="")
    meta(name="keywords" content="")
  body
    div#app
    //- h2  hello world
    script(src="./vendor.dll.js")
